

/* @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap'); */

body{
    background-color: lightgrey;
    margin: 10vh auto auto 10vw;
}
.card{
    background-color: white;
    width: 30vw;
    height: 50vh;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
}
.quotation{
    /* font-family: "Cedarville Cursive", cursive; */
    font-family:cursive;
    font-size: 0.8em;
    font-weight: bold;
}
.author{
    font-family:sans-serif;
    color: lightgray;
}

/* TODO: Varför blir det inga cirklar?? */
.pager-dots a{
    width: 15px;
    height: 15px;
    text-decoration: none;
    background-color: lightgray;
    border-radius: 999px;
    margin: 15px;

    align-self:flex-end;
}
.pager-dots a:hover{
    background-color: grey;
}